@media (max-width:767px){
    .container{
        display: flex;
       flex-direction: column;
       gap: 2rem;
       margin: 1rem;
    }
    .desserts{
        width: 100%;
    }
    .products{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .product img{
        width: 100%;
    }
    .final-price{
        font-size: 1rem;
    }
    .all-card{
        width: 100%;
    }

}

@media (min-width:767px) and (max-width:1024px){
    .container{
        display: flex;
       flex-direction: column;
       gap: 2rem;
       margin: 1rem;
    }
    .desserts{
        width: 100%;
    }.all-card{
        width: 100%;
    }

}