:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}
body{
    margin: 0;
    padding: 0;
    font-family: Red Hat Text;
    font-size: 1rem;
    background-color: var(--rose50);
}
*{
    box-sizing: border-box;
    margin: 0;  
}
.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 88px 151px;   
}
/* --------------Desserts-------------------- */
.desserts{
    width: 70%;
}
.desserts h1{
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 2.5rem;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.product {
    position: relative; 
    overflow: hidden; 
    margin-bottom: 1rem;
}
.product img {
    width: 300px;
    max-width: 100%;
    border-radius: 1rem;   
}
.product img:hover{
    /* border: 2px solid var(--red); */
}
.product.selected img {
    border: 2px solid var(--red);
}
.add-item .add-to-cart-img{
    width: 20px;
    height: 15px;
}
.add-item .add-to-cart-img:hover{
    border: none;
}
.product .addtocart {
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%); 
    padding: .5rem 2rem; 
    /* padding: .75rem; */
    /* width: 160px; */
    background-color: #fff; 
    color: #000; 
    border: 1px solid var(--rose400);
    border-radius: 3rem; 
    cursor: pointer; 
    font-size: .875rem;
    line-height: 1.25rem;
}
.product .addtocart:hover{
    color:var(--red);
   
}
.quantity-controls{
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);  
    background-color: var(--red);
    border-radius: 3rem;
    display: flex;
    max-width: fit-content;
    padding: .5rem 2rem;
    gap: 1rem;
    color: #fff;
}
.quantity-controls button{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: var(--red);
    cursor: pointer; 
}
.quantity-controls button:hover{
    color:var(--red);
    background-color: #fff;
}
.product .product-info{
    /* margin-top: 2rem; */
}
.product .product-info .categ{
    font-size: .875rem;
    color: var(--rose500);
}
.product .product-info  .Price{
    color: var(--red);
    font-weight: 600;
    margin-top: 4px;

}
.product .product-info  h3{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 4px;
}

/* ------------------Cart--------------------- */
.all-card{
    width: 34%;
}
.cart-container{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    
}
.cart-container .cart{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cart .your-cart{
    color: var(--red);
    font-weight: 700;
    font-size: 1.5rem;
}
#empty-cart-message{
    /* font-size: .9rem; */
    color: var(--rose500);
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
}
.cart .img-container{
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product-container{
    border-bottom: .4px solid #d3d3d3;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem ;
}
.product-name{
    color:#000;
    font-weight: 600;
}
.product-details{
    display: grid;
    grid-template-columns: 0fr 6fr 0fr;
    gap: 1rem;

}
.product-details .prices{
    display: flex;
    gap: .5rem;
}
.quan{
    color:var(--red);
    font-weight: 600;
}
.price-one{
    color:var(--rose300);
}
.product-details .price-two{
    color:var(--rose300);
    font-weight: 600;
}
.product-details .delete-item{
    border: 2px solid var(--rose400);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    cursor: pointer;
}
.product-details .delete-item:hover{
    border: 2px solid #000;
}
.product-details .delete-item i:hover{
    color: #000;
    
}
.product-details .delete-item i{
    color: var(--rose400);
    font-size: .7rem;
}

.cart-total{
    display: inline;
}
#displayprice{
    gap: 9rem;
    margin-top: 1rem;
}
.final-price{
    font-size: 1.5rem;
    font-weight: 800;
}
#carbon{  
    background-color: var(--rose50);
    padding: 1rem 0;
    display: block;
    margin-top: 1rem;
    text-align: center;
    border-radius: .5rem;
}
#confirm-order-btn{
   color:#fff;
   background-color: var(--red);
   border: none;
   border-radius: 2rem;
   display: block;
   width: 100%;
   padding: 1rem;
   margin-top: 1rem;
   cursor: pointer;
}
#confirm-order-btn:hover{
    background-color: rgb(123, 19, 19);
}
#confirm-order-btn, #new-order-btn {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* -------------Confirmation modal------------- */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

   
}
.modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 2rem;
    border: 1px solid #888;
    width: fit-content; 
    border-radius: .5rem; 

}
.modal-content .modal-p{
    font-size: .7rem;
    color: #808080;
}
#confirmation-items{
    padding: 0 1rem;
    background-color: var(--rose50);
    border-radius: .5rem .5rem 0 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.confirmation-item-details{
    display: grid;
    grid-template-columns:  1.5fr 5fr 0fr;
    border-bottom: .7px solid #d3d3d3;
    padding: 1rem 0;

}
.confirmation-item-img{
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}
.confirmation-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.confirmation-price{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#order-total-container{
    background-color: var(--rose50);
    padding: 1rem;
    border-radius: 0 0 .5rem .5rem;

}
.confirmation-item-details .price-two{
    color:#000;
    font-weight: 600;
}
.price-two-container{
    text-align: center;
    align-content: center;
}
.total-pricee{
    display: flex;
    justify-content: space-between;
}
#order-total{
    font-weight: 800;
    font-size: 1.5rem;
}
#new-order-btn {

    color: #fff;
    background-color: var(--red);
    border: none;
    border-radius: 2rem;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}





